<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/style/style.css">
    <title>Suit Jepang</title>
</head>
<body>
    <div class="nav-bar">
        <img  src="../assets/img/back.png" alt="">
        <img src="../assets/img/logo.png" alt="logo" class="logo member">
        <h1 class="judul member">ROCK PAPER SCISSORS </h1>
    </div>

    <div class="container-1">
        <div class="player">
            <h1>HUMAN</h1>

            <img class="gunting suit-img" src="../assets/img/gunting.png" alt="">
            <img class="batu suit-img" src="../assets/img/batu.png" alt="">    
            <img class="kertas suit-img" src="../assets/img/kertas.png" alt="">
        </div>


        <div class="result">
            <h1> VS </h1>
        </div>
        <div class="computer">
            <h1>MACHINE</h1>
            <img class="gunting suit-img" src="../assets/img/gunting.png" alt="">
            <img class="batu suit-img" src="../assets/img/batu.png" alt="">    
            <img class="kertas suit-img" src="../assets/img/kertas.png" alt="">
        </div>
        
    </div>
    <div class="refresh">
        <img src="../assets/img/refresh.png" alt="">
    </div>

 
    
    <script src="../assets/scripts/script.js"></script>
</body>
</html>