<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="reset.css"> -->
    <link rel="stylesheet" href="../assets/style/style-index.css">
    <title>Challenge Chapter-3</title>
</head>
<body>
    <div class="container">

        <div class="container-1">
            <div class="navbar">
                <h1>LOGO</h1>
                <ul class="list">
                    <li>HOME</li>
                    <li>WORK</li>
                    <li>CONTACT</li>
                    <LI>ABOUT ME</LI>
                </ul>
                <ul class="login">
                    <li>SIGN UP</li>
                    <li>LOGIN</li>
                </ul>
            </div>
            <h1 class="judul">PLAY TRADITIONAL GAME</h1>
           <a href="/game"><button>PLAY NOW</button></a>
        </div>

        <div class="container-2">
            <h3>What's so special?</h3>
            <h1>THE GAMES</h1>
            <svg class="switch-left" width="20" height="38" viewBox="0 0 20 38" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18 1.70007L18 35.7001L2 18.8904L18 1.70007Z" stroke="white" stroke-width="3.36454" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>  

           <div class="img">
            <div class="radio">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
           </div>

            <svg class="switch-right" width="18" height="39" viewBox="0 0 18 39" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.82153 2.65635L1.82153 36.7297L15.5642 19.8838L1.82153 2.65635Z" stroke="white" stroke-width="3.36454" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>

        <div class="container-3">
            <h3>What's so special?</h3>
            <h1>FEATURES</h1>
            <div class="garis">
                <span class="radio-1"></span>
                <span class="garis-2"></span>
                <span class="radio-3"></span>
                <span class="radio-4"></span>
            </div>
            <div class="content">
                <h2 class="judul-game">TRADITIONAL GAMES</h2>
                <p>if you miss your childhood, we provide many traditional
                    game here
                </p>

                <h2 class="game-suit">GAME SUIT</h2>
                <h2 class="tbd" >TBD</h2>

            </div>
        </div>

        <div class="container-4">
            <h3>Can My Computer Run This Game</h3>
            <h1>SYSTEM REQUIREDMENT</h1>
            <table border="1" cellspacing="0" cellpadding="4">
                <tr>
                    <td>
                        <p>OS</p>
                        <p>Windows 7 64-bit only (No OSX support at this time)</p>
                    </td>
                    <td>
                        <p>PROCESSOR</p>
                        <P>Intel Core 2 Duo @2.4 GHZ or AMD Athlon X2@ 2.8 GHZ</P>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>MEMORY</p>
                        <p>4 GB RAM </p>
                    </td>
                    <td>
                       <p>STORAGE</p>
                       <p>8 GB available space</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p>GRAPHICS:</p>
                        <p>NVIDIA GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5) </p>
                    </td>
                    
                </tr>
                
            </table>
        </div>

        <div class="container-5">
            <h1>TOP SCORES</h1>
            <p>this top score from various games provided on this platform</p>
            <button>see more</button>

            <div class="evan">
                <svg class="twitter" width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.3" d="M18.3981 2.41449C17.7231 2.70013 17.0072 2.88765 16.2741 2.97084C17.0365 2.53297 17.623 1.84099 17.899 1.01526C17.1731 1.42694 16.3789 1.71699 15.5508 1.87286C14.8519 1.15947 13.8744 0.755389 12.8519 0.757085C10.8105 0.757085 9.15361 2.33909 9.15361 4.29061C9.15361 4.5679 9.18627 4.83816 9.25021 5.09623C6.17639 4.94862 3.45216 3.54236 1.62787 1.404C1.30934 1.92529 1.12764 2.53297 1.12764 3.18076C1.12764 4.40623 1.78024 5.48805 2.77231 6.12188C2.18494 6.10468 1.61046 5.95309 1.09706 5.67983V5.7249C1.09706 7.43659 2.37189 8.86495 4.06278 9.19027C3.5182 9.3312 2.94722 9.35187 2.39305 9.25072C2.86384 10.6549 4.22998 11.6764 5.8475 11.7061C4.5821 12.6524 2.98781 13.2184 1.25483 13.2184C0.960153 13.2181 0.66574 13.2015 0.373047 13.1689C2.00943 14.1713 3.95365 14.7571 6.04185 14.7571C12.8438 14.7571 16.5627 9.37118 16.5627 4.70056C16.5627 4.54779 16.5627 4.39502 16.5513 4.24335C17.2749 3.74295 17.8998 3.12372 18.3969 2.41449H18.3981Z" fill="white"/>
                </svg>
                <span class="bg" ></span>
                <span class="img" ></span>
                <h2>Evan Lathi</h2>
                <p class="pc">PC Gamer</p>
                <p class="highlight">"One of my gaming highlighs of the year"</p>
                <p class="tgl">juni 19 2021</p>
            </div>
            
            <div class="jada">
                <svg class="twitter" width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.3" d="M18.3981 2.41449C17.7231 2.70013 17.0072 2.88765 16.2741 2.97084C17.0365 2.53297 17.623 1.84099 17.899 1.01526C17.1731 1.42694 16.3789 1.71699 15.5508 1.87286C14.8519 1.15947 13.8744 0.755389 12.8519 0.757085C10.8105 0.757085 9.15361 2.33909 9.15361 4.29061C9.15361 4.5679 9.18627 4.83816 9.25021 5.09623C6.17639 4.94862 3.45216 3.54236 1.62787 1.404C1.30934 1.92529 1.12764 2.53297 1.12764 3.18076C1.12764 4.40623 1.78024 5.48805 2.77231 6.12188C2.18494 6.10468 1.61046 5.95309 1.09706 5.67983V5.7249C1.09706 7.43659 2.37189 8.86495 4.06278 9.19027C3.5182 9.3312 2.94722 9.35187 2.39305 9.25072C2.86384 10.6549 4.22998 11.6764 5.8475 11.7061C4.5821 12.6524 2.98781 13.2184 1.25483 13.2184C0.960153 13.2181 0.66574 13.2015 0.373047 13.1689C2.00943 14.1713 3.95365 14.7571 6.04185 14.7571C12.8438 14.7571 16.5627 9.37118 16.5627 4.70056C16.5627 4.54779 16.5627 4.39502 16.5513 4.24335C17.2749 3.74295 17.8998 3.12372 18.3969 2.41449H18.3981Z" fill="white"/>
                    </svg>
                    <span class="bg" ></span>
                    <span class="img" ></span>
                    <h2>Evan Lathi</h2>
                    <p class="pc">PC Gamer</p>
                    <p class="highlight">"One of my gaming highlighs of the year"</p>
                    <p class="tgl">juni 19 2021</p>
            </div>
            <div class="auron">
                <svg class="twitter" width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.3" d="M18.3981 2.41449C17.7231 2.70013 17.0072 2.88765 16.2741 2.97084C17.0365 2.53297 17.623 1.84099 17.899 1.01526C17.1731 1.42694 16.3789 1.71699 15.5508 1.87286C14.8519 1.15947 13.8744 0.755389 12.8519 0.757085C10.8105 0.757085 9.15361 2.33909 9.15361 4.29061C9.15361 4.5679 9.18627 4.83816 9.25021 5.09623C6.17639 4.94862 3.45216 3.54236 1.62787 1.404C1.30934 1.92529 1.12764 2.53297 1.12764 3.18076C1.12764 4.40623 1.78024 5.48805 2.77231 6.12188C2.18494 6.10468 1.61046 5.95309 1.09706 5.67983V5.7249C1.09706 7.43659 2.37189 8.86495 4.06278 9.19027C3.5182 9.3312 2.94722 9.35187 2.39305 9.25072C2.86384 10.6549 4.22998 11.6764 5.8475 11.7061C4.5821 12.6524 2.98781 13.2184 1.25483 13.2184C0.960153 13.2181 0.66574 13.2015 0.373047 13.1689C2.00943 14.1713 3.95365 14.7571 6.04185 14.7571C12.8438 14.7571 16.5627 9.37118 16.5627 4.70056C16.5627 4.54779 16.5627 4.39502 16.5513 4.24335C17.2749 3.74295 17.8998 3.12372 18.3969 2.41449H18.3981Z" fill="white"/>
                    </svg>
                    <span class="bg" ></span>
                    <span class="img" ></span>
                    <h2>Evan Lathi</h2>
                    <p class="pc">PC Gamer</p>
                    <p class="highlight">"One of my gaming highlighs of the year"</p>
                    <p class="tgl">juni 19 2021</p>
            </div>
        </div>

        <div class="container-6">
            <div class="content">
                <div class="img">
                    
                </div>
                <h3>Want to stay in touch?</h3>
                <h1>NEWSLETTER SUBSCRIBE</h1>
                <p>In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don’t spam.</p>
                <div class="ket">
                    <p>your email address</p>
                    <h1>youremail@binar.co.id</h1>
                </div>
                <button>Subscribe Now</button>
            </div>
            <div class="footer">
                <ul class="list">
                    <li>MAIN</li>
                    <li>ABOUT</li>
                    <li>GAME FEATURES</li>
                    <li>SYSTEM REQUIREDMENTS</li>
                    <li>QUOTES</li>
                    <li><svg width="10" height="20" viewBox="0 0 10 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.65382 19.1726H2.56282V9.67859H0.517822V6.40559H2.56282V4.44159C2.56282 1.77259 3.71782 0.183594 6.99582 0.183594H9.72582V3.45659H8.02082C6.74282 3.45659 6.65882 3.91459 6.65882 4.76859L6.65382 6.40559H9.74582L9.38382 9.67859H6.65382V19.1726Z" fill="white"/>
                        </svg>
                    </li>
                    <li>
                        <svg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path opacity="0.3" d="M18.3981 2.41449C17.7231 2.70013 17.0072 2.88765 16.2741 2.97084C17.0365 2.53297 17.623 1.84099 17.899 1.01526C17.1731 1.42694 16.3789 1.71699 15.5508 1.87286C14.8519 1.15947 13.8744 0.755389 12.8519 0.757085C10.8105 0.757085 9.15361 2.33909 9.15361 4.29061C9.15361 4.5679 9.18627 4.83816 9.25021 5.09623C6.17639 4.94862 3.45216 3.54236 1.62787 1.404C1.30934 1.92529 1.12764 2.53297 1.12764 3.18076C1.12764 4.40623 1.78024 5.48805 2.77231 6.12188C2.18494 6.10468 1.61046 5.95309 1.09706 5.67983V5.7249C1.09706 7.43659 2.37189 8.86495 4.06278 9.19027C3.5182 9.3312 2.94722 9.35187 2.39305 9.25072C2.86384 10.6549 4.22998 11.6764 5.8475 11.7061C4.5821 12.6524 2.98781 13.2184 1.25483 13.2184C0.960153 13.2181 0.66574 13.2015 0.373047 13.1689C2.00943 14.1713 3.95365 14.7571 6.04185 14.7571C12.8438 14.7571 16.5627 9.37118 16.5627 4.70056C16.5627 4.54779 16.5627 4.39502 16.5513 4.24335C17.2749 3.74295 17.8998 3.12372 18.3969 2.41449H18.3981Z" fill="white"/>
                            </svg>
                    </li>
                    <li>
                        <svg width="26" height="19" viewBox="0 0 26 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20.61 0.183594H5.98961C3.12627 0.183594 0.799805 2.55085 0.799805 5.4644V12.8973C0.799805 15.8163 3.12627 18.1781 5.98961 18.1781H20.6046C23.4733 18.1781 25.7944 15.8108 25.7944 12.8973V5.4644C25.7998 2.55085 23.4733 0.183594 20.61 0.183594ZM17.0959 9.54779L10.2575 12.8642C10.0731 12.9524 9.86705 12.82 9.86705 12.6103V5.7679C9.86705 5.55821 10.084 5.42578 10.2629 5.51958L17.1013 9.04564C17.3074 9.15048 17.302 9.44846 17.0959 9.54779Z" fill="#FF1313"/>
                            </svg>
                    </li>
                </ul>
                
            </div>
            <hr>
            <div class="copy-right">
                <p>© 2018 Your Games, Inc. All Rights Reserved</p>
                <h3>
                    Privacy Policy | Terms of Services | Code of Conduct 
                </h3>
            </div>
        </div>
    </div>
</body>
</html>